body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-repeat: repeat;
    background-position: top;
    background-size: cover;
    background-image: url(../img/back.jpeg);
    position: relative;
} 

header {
    margin-top: 20px;
   align-items:center;
   position: relative;
}


.logo {
    width:150px;
    height: 50px;
    float:left;
    position: absolute;
    left: 10px;

}

header > nav {
    width:60%;
    text-align: center;
    position: absolute;
    line-height: 50px;
    left: 200px;
    right: 200px;
}
nav > a {

margin-left: 10px;

}
nav > a:hover{
    cursor: pointer;
}
.head-btn{
    float: right;
    height: 40px ;
    vertical-align: text-bottom;
    position: absolute;
    right: 10px;
    top: 10px;
}
.head-btn:hover{ 
    cursor: pointer;
}

.container {
   
    width: 100%;
    position: absolute;
    top:50px;
}
.pages {
    display: inline-block;
    width: 90%;
    margin: 20px;
    padding: 20px;
    position: relative;
    
}
.kede1{
    width: 45%;
    position: absolute;


}
.kede1:hover{
    background-color:rgb(245, 238, 228);
}
.right-column {
        padding-top: 23px;
        width: 45%;
        position: absolute;
        right:0;
        top: 90px;
    }
.p{
    font-size: 25px;
}
.main-title {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.left-column{
    width: 45%;
    padding-left: 90px;
    position: absolute;
    left: 0;
    top: 450px;


}
.kede2 {
    
    width: 45%;
    position: absolute;
   right: 0;
   top: 350px;
}

.kede2:hover{
    background-color:rgb(245, 238, 228);
}
.kede2 > img {
    width: 100%;
    float: left;

}

